br
#navbar
    a(href="/viewServices") Services Dashboard
    != " - " 
    a(href="/healthDashboard") Healthchecks Dashboard
    != " - " 
    a(href="/viewServiceChecks") View Health Checks
    != " - "
    a(href="/viewFailedHistory") Failed History
    != " - "
    a(href="/serviceRegistry/view") View Service Registry
br
#alertbar